.people {
  border: solid 2px green;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.people-list {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 1rem; /* gap is a convenient way to space out elements 🖌️🎨*/
}
